@import "../../src/utility/pallete.css";
@import "../../src/css/elements.css";
@import "../../src/css/global.css";
@import "../../src/css/footer.css";

.second-section {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	position: relative;
	margin: 190px 65px 0;
	padding: 65px 80px 100px;
	background-color: var(--white1);
	box-shadow: 0 13px 72px rgba(0, 0, 0, 0.07);
	border-radius: 23px
}

.second-section-container-1 {
	display: flex;
	align-items: center;
	justify-content: space-between
}

.second-section-container-2 {
	display: flex;
	column-gap: 50px
}

.second-section-title-1, .third-section-title-1 {
	font-family: VazirFd, serif;
	font-weight: 700;
	font-size: 28px;
	color: var(--black2)
}

.second-section-span-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: VazirFd, serif;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	color: var(--black2)
}

.second-section-span-active {
	color: var(--green1)
}

.second-section-span-active .second-section-span-active-line {
	visibility: visible
}

.second-section-span-active-line {
	display: block;
	width: 90%;
	height: 2px;
	margin-top: 7px;
	visibility: hidden;
	background-color: var(--green1)
}

.second-section-paragraph-1 {
	font-weight: 600;
	font-size: 19px;
	line-height: 65px;
	text-align: justify-all;
	color: var(--gray1)
}

.second-section-image-1 {
	position: absolute;
	z-index: -100;
	bottom: -80px;
	width: 90%;
	right: 30px;
	max-height: 100%
}

.third-section {
	display: flex;
	flex-direction: column;
	row-gap: 100px;
	margin-top: 130px;
	padding: 0 65px
}

.third-section-container-1 {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding: 30px 30px 45px 35px;
	position: relative;
	background: var(--white1);
	box-shadow: 0 13px 72px rgba(0, 0, 0, .07);
	border-radius: 23px
}

.third-section-container-2 {
	display: flex;
	justify-content: space-between
}

.third-section-container-3 {
	display: flex;
	flex-direction: column;
	row-gap: 3px;
	margin-right: 150px
}

.third-section-container-4 {
	display: flex;
	column-gap: 20px;
	align-items: center
}

.third-section-span-1 {
	font-family: VazirFd, serif;
	font-weight: 900;
	font-size: 18px;
	color: var(--gray7)
}

.third-section-span-2 {
	font-family: VazirFd, serif;
	font-weight: 500;
	font-size: 12px;
	color: var(--gray8)
}

.third-section-paragraph {
	font-weight: 400;
	font-size: 17px;
	line-height: 45px;
	text-align: justify;
	color: var(--gray1)
}

.third-section-button-1 {
	width: 138px;
	height: 36px;
	font-family: VazirFd, serif;
	font-weight: 900;
	font-size: 16px;
	color: var(--green1);
	border: none;
	background: var(--white10);
	border-radius: 6px
}

.third-section-image-1 {
	width: 150px;
	padding: 24px 18px 0;
	position: absolute;
	right: 0;
	top: -60px;
	background-color: var(--white1);
	border-radius: 31px
}

.third-section-image-2 {
	width: 50px;
	position: absolute;
	right: 135px;
	top: -30px
}

.fifth-section {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	position: relative;
	margin: 120px 65px 0;
	padding: 46px 48px 100px;
	background-color: var(--white1);
	box-shadow: 0 13px 72px rgba(0, 0, 0, 0.07);
	border-radius: 23px
}

.fifth-section-title-1 {
	font-weight: 700;
	font-size: 16px;
	color: var(--black2);
	display: flex;
	align-self: start;
	flex-direction: column;
	row-gap: 16px;
}

.fifth-section-title-1 span {
	font-size: 14px;
	color: #6C6C6C;
}

.fifth-section-container-1 {
	display: flex;
	align-items: center;
	justify-content: space-between
}

.fifth-section-paragraph-1 {
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
	text-align: justify-all;
	color: #4B4B4B;
}

.fifth-section-container-2 {
	display: flex;
	column-gap: 50px;
	margin: 30px 0 0;
}

.fifth-section-container-3 img {
	align-self: start;
}

.fifth-button-1 {
	background-color: var(--green1);
	border: none;
	outline: none;
	color: white;
	font-weight: 600;
	font-size: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 12px;
	width: fit-content;
	padding: 12px 20px 10px 36px;
	border-radius: 16px;
}

.fifth-button-1 img {
	width: 20px;
	height: 20px;
}

.fifth-section-container-4 {
	display: flex;
	align-items: end;
	justify-content: space-between;
}

.fifth-section-container-4 span {
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.fifth-section-container-4 img {
	width: 21px;
	height: 21px;
}

.forth-section {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
	padding: 60px 65px 120px;
	background-color: var(--white1)
}

.third-section-container-7 {
	display: none;
}

@media screen and (max-width: 1400px) {
	.second-section-title-1, .third-section-title-1 {
		font-size: 26px
	}

	.second-section-span-1 {
		font-size: 15px
	}

	.second-section-paragraph-1 {
		font-size: 18px;
		line-height: 62px
	}
}

@media screen and (max-width: 992px) {
	.second-section, .third-section {
		margin-top: 50px
	}

	.second-section {
		margin: 120px 0 0
	}

	.second-section-span-1 {
		font-size: 14px
	}

	.second-section-title-1, .third-section-title-1 {
		font-size: 24px
	}

	.second-section-paragraph-1 {
		font-size: 16px;
		line-height: 55px
	}

	.second-section-image-1 {
		display: none
	}

	.third-section {
		padding: 0
	}

	.third-section-container-4 {
		column-gap: 10px
	}

	.third-section-span-1 {
		font-size: 17px
	}

	.third-section-button-1 {
		width: 128px;
		height: 36px;
		font-size: 15px
	}

	.third-section-paragraph {
		font-size: 15px;
		line-height: 40px
	}


	.fifth-section {
		row-gap: 30px;
		margin: 90px 0 0;
		padding: 40px 20px 90px;
	}

	.fifth-section-container-2 {
		column-gap: 20px;
	}

	.forth-section {
		padding: 0;
		background-color: transparent;
		margin-top: 120px
	}

	.forth-section .global-1-container-2 {
		background-color: transparent
	}
}

@media screen and (max-width: 768px) {
	.second-section {
		margin-top: 100px;
		row-gap: 20px;
		padding: 45px 40px 60px
	}

	.second-section-span-1 {
		font-size: 10px
	}

	.second-section-title-1, .third-section-title-1 {
		font-size: 18px
	}

	.second-section-paragraph-1 {
		font-size: 14px;
		line-height: 40px
	}

	.second-section-container-2 {
		column-gap: 30px
	}

	.third-section-container-1 {
		row-gap: 30px;
		padding: 15px 25px 35px
	}

	.third-section-container-3 {
		row-gap: 0;
		margin-right: 130px
	}

	.third-section-container-4 {
		column-gap: 10px
	}

	.third-section-span-1 {
		font-size: 14px
	}

	.third-section-span-2 {
		font-size: 10px
	}

	.third-section-button-1 {
		width: 85px;
		height: 26px;
		font-size: 10px
	}

	.third-section-paragraph {
		font-size: 12px;
		line-height: 30px
	}

	.third-section-image-1 {
		width: 130px;
		padding: 18px 12px 0
	}

	.third-section-image-2 {
		width: 40px;
		right: 118px;
		top: -24px
	}

	.forth-section {
		margin-top: 100px
	}
}

@media screen and (max-width: 576px) {
	.second-section {
		margin-top: 90px;
		padding: 45px 30px 50px
	}

	.second-section-span-1 {
		font-size: 9px
	}

	.second-section-title-1, .third-section-title-1 {
		font-size: 16px
	}

	.second-section-paragraph-1 {
		font-size: 12px;
		line-height: 35px
	}

	.second-section-container-2 {
		column-gap: 20px
	}

	.third-section {
		margin-top: 30px;
		row-gap: 70px
	}

	.third-section-container-1 {
		row-gap: 20px
	}

	.third-section-container-3 {
		margin-right: 90px
	}

	.third-section-span-1 {
		font-size: 11px
	}

	.third-section-span-2 {
		font-size: 8px
	}

	.third-section-button-1 {
		width: 75px;
		height: 22px;
		font-size: 9px
	}

	.third-section-paragraph {
		font-size: 10px;
		line-height: 25px
	}

	.third-section-image-1 {
		width: 100px;
		padding: 15px 13px 0;
		top: -40px
	}

	.third-section-image-2 {
		width: 40px;
		right: 85px;
		top: -22px
	}

	.forth-section {
		margin-top: 90px
	}
}

@media screen and (max-width: 480px) {
	.second-section {
		row-gap: 15px;
		padding: 80px 36px 0;
		background-color: #ffffff;
		box-shadow: none;
		border-radius: 0;
		margin: 0;
	}

	.second-section-container-2 {
		display: none
	}

	.second-section-title-1 {
		font-size: 14px;
		color: var(--gray6)
	}

	.second-section-container-1 {
		position: relative
	}

	.second-section-paragraph-1, .second-section-paragraph-2 {
		font-size: 12px;
		line-height: 35px;
		font-weight: 500;
		color: var(--gray1)
	}

	.second-section-container-3 {
		display: flex !important;
		flex-direction: column;
		row-gap: 15px
	}

	.second-section-title-2 {
		font-weight: 950;
		font-size: 17px;
		color: var(--gray6)
	}

	.second-section-ul {
		list-style: none;
		font-weight: 600;
		font-size: 17px;
		padding: 20px;
		background: var(--white9);
		border-radius: 9px
	}

	.second-section-ul li {
		padding: 3px 0
	}

	.second-section-ul li i {
		margin-left: 10px;
		font-size: 10px;
		color: var(--green1)
	}

	.third-section {
		background-color: #F1F1F1;
		padding: 30px 25px;
		row-gap: 30px;
		margin-top: 0;
	}

	.third-section-container-1 {
		row-gap: 25px;
		padding: 25px;
	}

	.third-section-title-1 {
		font-size: 20px;
		font-weight: 900;
		font-family: YekanBakh, serif;
	}

	.third-section-image-1 {
		position: static;
		padding: 0;
		width: 62px;
		height: 62px;
		border-radius: 15px;
	}

	.third-section-image-2 {
		display: none;
	}

	.third-section-container-2 {
		justify-content: start;
		align-items: center;
		column-gap: 15px;
	}

	.third-section-container-3 {
		margin-right: 0;
		flex-grow: 1;
	}

	.third-section-container-5 {
		display: none;
	}

	.third-section-button-1 {
		background-color: var(--green1);
		color: white;
		font-weight: 400;
		font-size: 9px;
		padding: 4px 14px 5px;
		border-radius: 5px;
		width: fit-content;
		height: fit-content;
	}

	.third-section-paragraph {
		color: #292D32;
		font-weight: 600;
	}

	.third-section-container-7 {
		display: flex;
		padding-top: 6px;
		align-items: center;
		justify-content: center;
		column-gap: 2px;
	}

	.third-section-container-7 img{
		width: 11px;
	}


	.forth-section {
		margin-top: 0 !important
	}

	.forth-section .global-1-container-2 {
		background-color: var(--white12)
	}

	.forth-section .global-1-container-1 {
		display: none;
	}

	.fifth-section {
		row-gap: 22px;
		margin: 0 25px;
		padding: 40px 20px 30px;
	}

	.fifth-section-container-1 {
		justify-content: center;

		border-bottom: 2px dashed #EBEBEB;
		padding-bottom: 15px;
	}

	.fifth-section-container-1 :nth-child(2) {
		display: none;
	}

	.fifth-section-title-1 {
		font-weight: 700;
		font-size: 14px;
		row-gap: 10px;
		justify-content: center;
		text-align: center;
	}

	.fifth-section-title-1 span {
		font-weight: 500;
		font-size: 12px;
	}

	.fifth-section-paragraph-1 {
		font-size: 12px;
		line-height: 34px;
		text-align: justify;
		border-top: 2px dashed #EBEBEB;
		padding-top: 15px;
		margin-top: 30px;
	}

	.fifth-section-paragraph-1 div {
		padding: 0 10px;
		width: 100%;
	}

	.fifth-section-container-2 {
		flex-wrap: wrap;
		row-gap: 22px;
		margin-top: 11px;
	}

	.fifth-section-container-4 {
		border-top: 2px dashed #EBEBEB;
		padding-top: 26px;
	}

	.fifth-section-container-4 span {
		display: none;
	}

	.fifth-button-1 {
		width: 100%;
		font-weight: 600;
		font-size: 18px;
		column-gap: 12px;
		padding: 15px 0;
		border-radius: 14px;
		position: relative;
	}

	.fifth-section-container-4 img {
		position: absolute;
		right: 16px;
	}
}