@import url(../../src/utility/pallete.css);
@import url(../../src/css/elements.css);
@import url(../../src/css/global.css);
@import url(../../src/css/footer.css);

.second-section {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
	position: relative;
	margin: 190px 65px 0;
	padding: 65px 80px 100px;
	background-color: var(--white1);
	box-shadow: 0 13px 72px rgba(0, 0, 0, 0.07);
	border-radius: 23px;
}

.second-section-container-1 {
	display: flex;
	align-items: center;
	justify-content: space-between
}

.second-section-container-2 {
	display: flex;
	column-gap: 50px
}

 .second-section-title-1, .third-section-title-1 {
	font-family: VazirFd, serif;
	font-weight: 700;
	font-size: 28px;
	color: var(--black2)
}

.second-section-span-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: VazirFd, serif;
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	color: var(--black2)
}

.second-section-span-active {
	color: var(--orange1)
}

.second-section-span-active .second-section-span-active-line {
	visibility: visible
}

.second-section-span-active-line {
	display: block;
	width: 90%;
	height: 2px;
	margin-top: 7px;
	visibility: hidden;
	background-color: var(--orange1)
}

.second-section-paragraph-1 {
	font-weight: 600;
	font-size: 19px;
	line-height: 65px;
	text-align: justify-all;
	color: var(--gray1)
}

.second-section-image-1 {
	position: absolute;
	z-index: -100;
	bottom: -80px;
	width: 90%;
	right: 30px;
	max-height: 100%;
}

.third-section {
	display: flex;
	flex-direction: column;
	row-gap: 100px;
	margin-top: 130px;
	padding: 0 65px;
}

.third-section-container-1 {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding: 30px 30px 45px 35px;
	position: relative;
	background: var(--white1);
	box-shadow: 0 13px 72px rgba(0, 0, 0, .07);
	border-radius: 23px
}

.third-section-container-2 {
	display: flex;
	justify-content: space-between
}

.third-section-container-3 {
	display: flex;
	flex-direction: column;
	row-gap: 3px;
	margin-right: 150px
}

.third-section-container-4 {
	display: flex;
	column-gap: 20px;
	align-items: center
}

.third-section-span-1 {
	font-family: VazirFd, serif;
	font-weight: 900;
	font-size: 18px;
	color: var(--gray7)
}

.third-section-span-2 {
	font-family: VazirFd, serif;
	font-weight: 500;
	font-size: 12px;
	color: var(--gray8)
}

.third-section-paragraph {
	font-weight: 400;
	font-size: 17px;
	line-height: 45px;
	text-align: justify;
	color: var(--gray1)
}

.third-section-button-1 {
	width: 138px;
	height: 36px;
	font-family: VazirFd, serif;
	font-weight: 900;
	font-size: 16px;
	color: #7BC74D;
	border: none;
	background: var(--white10);
	border-radius: 6px
}

.third-section-image-1 {
	width: 150px;
	padding: 24px 18px 0;
	position: absolute;
	right: 0;
	top: -60px;
	background-color: var(--white1);
	border-radius: 31px
}

.third-section-image-2 {
	width: 50px;
	position: absolute;
	right: 135px;
	top: -30px
}

.forth-section {
	display: flex;
	flex-direction: column;
	margin-top: 150px;
	padding: 60px 65px 120px;
	background-color: #FFFFFF;
}

@media screen and (max-width: 1400px) {
	 .second-section-title-1, .third-section-title-1 {
		font-size: 26px
	}

	.second-section-span-1 {
		font-size: 15px
	}

	.second-section-paragraph-1 {
		font-size: 18px;
		line-height: 62px
	}
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 992px) {
	.second-section, .third-section {
		margin-top: 50px;
	}

	.second-section {
		margin: 120px 0 0;
	}

	.second-section-span-1 {
		font-size: 14px
	}

	 .second-section-title-1, .third-section-title-1 {
		font-size: 24px
	}

	.second-section-paragraph-1 {
		font-size: 16px;
		line-height: 55px
	}

	.second-section-image-1 {
		display: none;
	}

	.third-section {
		padding: 0;
	}

	.third-section-container-4 {
		column-gap: 10px
	}

	.third-section-span-1 {
		font-size: 17px
	}

	.third-section-button-1 {
		width: 128px;
		height: 36px;
		font-size: 15px
	}

	.third-section-paragraph {
		font-size: 15px;
		line-height: 40px
	}

	.forth-section {
		padding: 0;
		background-color: transparent;
		margin-top: 120px;
	}

	.forth-section .global-1-container-2{
		background-color: transparent;
	}
}

@media screen and (max-width: 768px) {
	.second-section {
		margin-top: 100px;
		row-gap: 20px;
		padding: 45px 40px 60px
	}

	.second-section-span-1 {
		font-size: 10px
	}

	 .second-section-title-1, .third-section-title-1 {
		font-size: 18px
	}

	.second-section-paragraph-1 {
		font-size: 14px;
		line-height: 40px
	}

	.second-section-container-2 {
		column-gap: 30px
	}

	.third-section-container-1 {
		row-gap: 30px;
		padding: 15px 25px 35px
	}

	.third-section-container-3 {
		row-gap: 0;
		margin-right: 130px
	}

	.third-section-container-4 {
		column-gap: 10px
	}

	.third-section-span-1 {
		font-size: 14px
	}

	.third-section-span-2 {
		font-size: 10px
	}

	.third-section-button-1 {
		width: 85px;
		height: 26px;
		font-size: 10px
	}

	.third-section-paragraph {
		font-size: 12px;
		line-height: 30px
	}

	.third-section-image-1 {
		width: 130px;
		padding: 18px 12px 0
	}

	.third-section-image-2 {
		width: 40px;
		right: 118px;
		top: -24px
	}

	.forth-section {
		margin-top: 100px;
	}
}

@media screen and (max-width: 576px) {
	.second-section {
		margin-top: 90px;
		padding: 45px 30px 50px
	}

	.second-section-span-1 {
		font-size: 9px
	}

	 .second-section-title-1, .third-section-title-1 {
		font-size: 16px
	}

	.second-section-paragraph-1 {
		font-size: 12px;
		line-height: 35px
	}

	.second-section-container-2 {
		column-gap: 20px
	}

	.third-section {
		margin-top: 30px;
		row-gap: 70px
	}

	.third-section-container-1 {
		row-gap: 20px
	}

	.third-section-container-3 {
		margin-right: 90px
	}

	.third-section-span-1 {
		font-size: 11px
	}

	.third-section-span-2 {
		font-size: 8px
	}

	.third-section-button-1 {
		width: 75px;
		height: 22px;
		font-size: 9px
	}

	.third-section-paragraph {
		font-size: 10px;
		line-height: 25px
	}

	.third-section-image-1 {
		width: 100px;
		padding: 15px 13px 0;
		top: -40px
	}

	.third-section-image-2 {
		width: 40px;
		right: 85px;
		top: -22px
	}

	.forth-section {
		margin-top: 90px;
	}
}

@media screen and (max-width: 480px) {
	.second-section {
		row-gap: 15px;
		padding: 0 36px 0;
		background-color: transparent;
		box-shadow: none;
		margin-top: 90px;
	}

	.second-section-container-2 {
		display: none;
	}

	.second-section-title-1 {
		font-size: 14px;
		color: var(--gray6)
	}

	.second-section-container-1 {
		position: relative
	}

	.second-section-paragraph-1, .second-section-paragraph-2 {
		font-size: 12px;
		line-height: 35px;
		font-weight: 500;
		color: var(--gray1)
	}

	.second-section-container-3 {
		display: flex !important;
		flex-direction: column;
		row-gap: 15px
	}

	.second-section-title-2 {
		font-weight: 950;
		font-size: 17px;
		color: var(--gray6)
	}

	.second-section-ul {
		list-style: none;
		font-weight: 600;
		font-size: 17px;
		padding: 20px;
		background: var(--white9);
		border-radius: 9px
	}

	.second-section-ul li {
		padding: 3px 0
	}

	.second-section-ul li i {
		margin-left: 10px;
		font-size: 10px;
		color: var(--orange1)
	}


	.third-section {
		display: none;
	}


	.forth-section {
		margin-top: 30px !important;
	}

	.forth-section .global-1-container-2{
		background-color: #F1F1F1;
	}
}

@media screen and (max-width: 400px) {
}